.text .square {
    background-color: rgba(83, 144, 217, 0.287);
    margin-top: 5%;
    margin-bottom: 15%;
    width: 930px;
    height: 475px;
    display: inline-block;
}

.text {
    font-family: "Homenaje", sans-serif;
    color: rgba(255, 255, 255, 0.849);
}

.text h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 20px;
}

.text p {
    font-size: 40px;
    font-weight: bold;
    margin: 25px;
}