label {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input {
    border-radius: 4px;
}

.submit_data {
    border: 3px solid black;
    border-radius: 90px 90px;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(194, 248, 249);
}

.submit_data:hover {
    background: rgba(144, 228, 233);
    border-radius: 90px 90px;
    transition: .75s;
}

.name_data {
    border: 3px solid black;
    border-radius: 90px 90px;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(194, 248, 249);
}

.tags-selector {
    width: 100%;
}

.tags-div {
    margin-left: 30%;
    margin-right: 30%;
    /* display: block; */
}